pdfs/
.DS_Store
.env
data/archive/
data/runs/
experiments/llm_improvement_testing/*.csv
__pycache__/
data/*.csv
deelnemers_lbv_lbvplus_*.csv
final_results/**/*.csv
uitgekochte_boeren_analyseren/data/raw/*.csv
uitgekochte_boeren_analyseren/data/processed/*.csv
uitgekochte_boeren_analyseren/data/raw/.~lock.*
uitgekochte_boeren_analyseren/data/processed/charts/*
uitgekochte_boeren_analyseren/data/processed/*.pdf
